<!DOCTYPE html>
<html>

<head>
  <title>Article</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <p>
   <h1 class="pink-title"> {{article.title}}</h1>
  </p>
  
  <p class="content">
    Artikkeli: {{article.title}} <br/><br/>
    Kirjoittajat: {{article.writer}} <br/><br/>
    Julkaisuvuosi: {{article.year}} <br/><br/>
    Lehti: {{article.journal}} <br/><br/>
    Volume: {{article.volume}} <br/><br/>
    Pages: {{article.pages}} <br/><br/>
  </p>
  <p>
    <a href="/edit_article/{{article.id}}" class="button">Muokkaa</a>
    <a href="/remove_article/{{article.id}}" class="button">Poista</a>
    <a href="/" class="button">Palaa etusivulle</a>
    
  </p>
</body>

</html>
