<!DOCTYPE html>
<html>

<head>
  <title>Book</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <p>
   <h1 class="pink-title"> {{item.title}}</h1>
  </p>
  
  <p class="content">
    Kirja: {{item.title}} <br/><br/>
    Kirjailija: {{item.author}} <br/><br/>
    Julkaisuvuosi: {{item.year}} <br/><br/>
    ISBN: {{item.isbn}} <br/><br/>
    Kustantaja: {{item.publisher}} <br/><br/>
  </p>
  <p>
    <a href="/edit_item/{{item.id}}" class="button">Muokkaa</a>
    <a href="/remove_item/{{item.id}}" class="button">Poista</a>
  </p>
</body>

</html>
