<!DOCTYPE html>
<html>

<head>
  <title>Book</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <p>
   <h1 class="title"> {{book.title}}</h1>
  </p>
  
  <p>
    Kirja: {{book.title}} <br/><br/>
    Kirjailija: {{book.writer}} <br/><br/>
    Julkaisuvuosi: {{book.year}} <br/><br/>
    ISBN: {{book.isbn}} <br/><br/>
    Kustantaja: {{book.publisher}} <br/><br/>
  </p>
  <p>
    <a href="/edit_book/{{book.id}}" class="button">Muokkaa</a>
    <a href="/remove_book/{{book.id}}" class="button">Poista</a>
    <a href="/" class="button">Palaa etusivulle</a>
    
  </p>
</body>

</html>
