<!doctype html>
<html>
  <head>
    <title>Muokkaa artikkeli</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="post" action="/articles/edit/{{ article.id }}">
      <label for="title">Title</label>
      <input id="title" name="title" type="text" value="{{ article.title }}" required>

      <label for="author">Author</label>
      <input id="author" name="author" type="text" value="{{ article.writer }}" required>

      <label for="year">Year</label>
      <input id="year" name="year" type="number" value="{{ article.year }}" inputmode="numeric" pattern="[0-9]{4}">

      <label for="DOI">DOI</label>
      <input id="DOI" name="DOI" type="text" value="{{ article.doi }}">

      <label for="journal">Publisher</label>
      <input id="journal" name="journal" type="text" value="{{ article.journal }}">

      <label for="volume">Volume</label>
      <input id="volume" name="volume" type="text" value="{{ article.volume }}">

      <label for="pages">Pages</label>
      <input id="pages" name="pages" type="text" value="{{ article.pages }}">

      <button type="submit">Tallenna muutokset</button>
    </form>
    <p><a href="/article/{{ article.id }}">Takaisin artikkelin sivulle</a></p>
  </body>
</html>
