<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>

<body>
  <h1>Etusivu</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <p>
    <a href="/books/new">Lisää kirja</a>
  </p>
  <p>
    <a href="/articles/new">Lisää artikkeli</a>
  </p>


  <h2>Lisätyt kirjat</h2>
  <p>
    {%for book in books%}
    <ul>
      ---------------------------------------------------------------------------------------------------<br />
      <a href="/book/{{book.id}}" style="font-size: 20px;">{{book.title}}</a><br />
      <p>{{book.writer}} {{book.year}} {{book.isbn}} {{book.publisher}}</p>
      
    </ul>
    {%endfor%}

  </p>

  <h2>Lisätyt artikkelit</h2>
  <p>
    {%for article in articles%}
    <ul>
      ---------------------------------------------------------------------------------------------------<br />
      <a href="/article/{{article.id}}" style="font-size: 20px;">{{article.title}}</a><br />
      <p>{{article.writer}} {{article.year}} {{article.isbn}} {{article.journal}}</p>
      
    </ul>
    {%endfor%}

  </p>
</body>

</html>

