<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Etusivu</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li> 
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <p>
    <a href="/books/new" class="button">Lisää kirja</a>
    <a href="/articles/new" class="button">Lisää artikkeli</a>
    <a href="/inproceedings/new" class="button">Lisää Konferenssijulkaisun Artikkeli</a>
  </p>

  <p>
    <a href="/inspect_bibtex" class="button">Katsele bibtex tiedostoa</a>
    <a href="/download_bibtex" class="button">Lataa bibtex tiedosto</a>
  </p>

  <h2>Viitteitä näkyvillä: {{ countitems }}</h2>
  <form method="get" action="/">
    <input type="hidden" name="sort" value="{{ sort }}">

      <input type="text" name="search" placeholder="Hae..." value="{{ request.args.get('search', '') }}" class="searchbox">
      <button type="submit" class="search-button">Hae</button>

    <select name="category" onchange="this.form.submit()">
        <option value="all"     {{ "selected" if selected == "all" else "" }}>Näytä kaikki</option>
        <option value="books" {{ "selected" if selected == "books" else "" }}>Näytä kirjat</option>
        <option value="articles" {{ "selected" if selected == "articles" else "" }}>Näytä artikkelit</option>
        <option value="inproceedings" {{ "selected" if selected == "inproceedings" else "" }}>Näytä konferenssijulkaisujen artikkelit</option>
    </select>
  </form>
  <p>
    <a href="/?sort=author&search={{ request.args.get('search', '') }}&category={{ selected }}" class="button" > Järjestä kirjailijan mukaan</a>
    <a href="/?sort=year&search={{ request.args.get('search', '') }}&category={{ selected }}" class="button" > Järjestä vuoden mukaan</a>
    <a href="/?sort=default&search={{ request.args.get('search', '') }}&category={{ selected }}" class="button" > Järjestä otsikon mukaan</a>
  </p>

  <p>
    {%for item in items%}
    <ul>
      ____________________________________________________________________________________<br />
      <br>
      <a href="/{{item.type}}/{{item.id}}" style="font-size: 20px;">{{item.title}}</a><br />
      <p>{{item.writer}} {{item.year}}</p>
      <a href="/edit_{{item.type}}/{{item.id}}" class="button">Muokkaa viitettä</a>
      <a href="/remove_{{item.type}}/{{item.id}}" class="button">Poista viite</a>
    </ul>
    {%endfor%}
  </p>
</body>

</html>

