<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>{{ title }}</h1>
  <p>Nimi: {{ reference.title }}</p>
  <p>{{ conf_message }}</p>
  <form action="{{ form_url }}" method="post">
    <input type="hidden" name="prev_url" value="{{ prev_url }}">
    <input type="submit" name="remove" class="button" value="{{ remove_button_text }}">
    <input type="submit" name="back" class="button" value="Palaa takaisin">
  </form>
</body>

</html>
