<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <h1>{{ title }}</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <!-- <form method="post" action="/articles/create">
      <label for="title">Title</label>
      <input id="title" name="title" type="text" required>

      <label for="author">Author</label>
      <input id="author" name="author" type="text" required>

      <label for="year">Year</label>
      <input id="year" name="year" type="number" inputmode="numeric" pattern="[0-9]{4}">

      <label for="DOI">DOI</label>
      <input id="DOI" name="DOI" type="text">

      <label for="journal">Journal</label>
      <input id="journal" name="journal" type="text">

      <label for="volume">Volume</label>
      <input id="volume" name="volume" type="text">

      <label for="pages">Pages</label>
      <input id="pages" name="pages" type="text">

      <button type="submit" class="button">Tallenna artikkeli</button>
    </form> -->

    <form method="post" action={{ submit_url }}>
      {% for field in fields %}
      <label for="{{ field['name'] }}">{{ field['label'] }}</label>
        <input 
        {% if field['name'] %} id="{{ field['name'] }}" {% endif %}
        {% if field['name'] %} name="{{ field['name'] }}" {% endif %}
        {% if field['type'] %} type="{{ field['type'] }}" {% endif %}
        {% if field['required'] %} required {% endif %}
        {% if field['inputmode'] %} inputmode="{{ field['inputmode'] }}" {% endif %}
        {% if field['pattern'] %} pattern="{{ field['pattern'] }}" {% endif %}
        >
      {% endfor %}




      <button type="submit" class="button">{{ submit_button_text }}</button>
    </form>
    <p><a href="/" class="button">Takaisin etusivulle</a></p>
  </body>
</html>
