<!DOCTYPE html>
<html>

<head>
  <title>Konferenssinjulkaisun artikkelin poisto</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Konferenssinjulkaisun artikkelin poisto</h1>
  <p>Artikkeli: {{ inproceeding.title }}</p>
  <p>Haluatko varmasti poistaa tämän artikkelin?</p>
  <form action="/remove_inproceeding/{{ inproceeding.id }}" method="post">
    <input type="submit" name="remove" class="button" value="Poista ilmoitus">
    <input type="submit" name="back" class="button" value="Palaa takaisin">
  </form>
</body>

</html>
