.content {
  font-size: 15px
}  

.title{
  color: rgb(10, 60, 100)
}

.button {
  background-color: rgb(130, 194, 246);
  color: rgb(10, 60, 100);
  border: none;
  padding: 7px 7px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button {
  margin-top: 0;
  background-color: rgb(130, 194, 246);
  color: rgb(10, 60, 100);
  border: none;
  padding: 7px 7px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchbox {
  max-width: 200px;
  width: 100%;
}

body { 
  font-family: Arial, sans-serif;
  max-width: 1400px; 
  margin: 1rem auto; 
  padding: 0 1rem;
  font-size: 20px;
  color: rgb(10,60,100);
  background-color: rgb(194, 224, 249);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

label { 
  display:block; 
  margin-top: 0.8rem; 
}

input[type="text"], input[type="number"] {
  width:100%; 
  padding: 0.5rem; box-sizing: border-box; 
}

button { 
  margin-top: 1rem; 
  padding: 0.5rem 1rem; 
}

select {
  width: 100%;
  max-width: fit-content;
  padding: 7px 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;

  color: rgb(10, 60, 100);
  background-color: rgb(130, 194, 246);

  border: none;
  border-radius: 8px;
  cursor: pointer;
}

select:focus {
  outline: none;
  background-color: rgb(150, 210, 255);
}
