.content {
  font-size: 20px
}  

.pink-title{
  color: rgb(234, 79, 146)
}

.button {
  background-color: rgb(234, 79, 146);
  color: rgb(0, 0, 0);
  border: none;
  padding: 7px 7px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

body { 
  font-family: Arial, sans-serif;
  max-width: 700px; 
  margin: 2rem auto; 
  padding: 0 1rem; 
}


label { 
  display:block; 
  margin-top: 0.8rem; 
}

input[type="text"], input[type="number"] {
  width:100%; 
  padding: 0.5rem; box-sizing: border-box; 
}

button { 
  margin-top: 1rem; 
  padding: 0.5rem 1rem; 
}